@import "tailwindcss";

@font-face {
  font-family: "Victory-Striker";
  src: url("../fonts/Victory\ Striker\ Sans\ Demo.otf");
}

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
}

.glass-bg {
  @apply bg-black/20 backdrop-blur-xl border border-white/30 shadow-xl;
}

.glass-item {
  @apply bg-white/20 backdrop-blur-lg border border-white/30 shadow-xl;
}

.selected {
  @apply border  scale-105 bg-white/40;
}
