---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../layouts/Header.astro";
const prayerBoxs = [1, 2, 3, 4, 5, 6];
---

<BaseLayout>
  <main class="">
    <section
      class="bg-[url(/susnpics.jpg)] text-white bg-center bg-cover text-2xl h-screen w-screen flex items-center justify-center"
    >
      <div
        class="flex flex-col justify-around gap-18 glass-bg rounded-[6vh] p-20"
      >
        <div>
          <p class="font-[\'Monsieur_La_Doulaise\'] mb-12 font-light">
            Upcoming Prayer <span class="font-bold text-3xl">Fajr</span>
          </p>
          <div class="flex gap-12">
            <p class="font-[Victory-Striker] text-9xl">08:11:14</p>
            <div class="flex flex-col justify-between items-stretch">
              <div>
                <p class="font-light">10 April, 2026</p>
                <p class="font-light">22 Shawwal, 1447</p>
              </div>
              <p class="text-4xl font-light">
                Prayer Times in <span class="font-bold">Addis Ababa</span>
              </p>
            </div>

            <!-- <div class="absolute inset-0 rounded-4xl backdrop-blur-[1px]"></div> -->
          </div>
        </div>
        <div class="time-box-container flex justify-between gap-8 w-full">
          <template id="time-box">
            <div
              class="flex flex-col justify-center items-center gap-4 w-40 h-34 glass-item rounded-4xl"
            >
              <h2 class="prayer-name text-[20px] font-light">Dhuhr</h2>

              <div class="flex gap-2 justify-between items-start">
                <p class="prayer-time text-4xl font-[Victory-Striker]">12:26</p>
                <span
                  class="prayer-span text-[20px] align-top font-[Montserrat] font-light"
                >
                  AM
                </span>
              </div>
            </div>
          </template>
          <!-- {
            prayerBoxs.map((box) => (
              
            ))
          } -->
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<script type="module" src="/src/scripts/app.js"></script>
