---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="">
    <section
      class="bg-[url(/bg-img-02.jpg)] text-white bg-center bg-cover text-2xl h-screen w-screen flex items-center justify-center"
    >
      <div
        class="flex flex-col justify-around gap-18 glass-bg rounded-[6vh] p-20 w-[70%]"
      >
        <div>
          <p class="font-[\'Monsieur_La_Doulaise\'] mb-12 font-light">
            Upcoming Prayer <span class="upcoming-prayer font-bold text-3xl"
              >Fajr</span
            >
          </p>
          <div class="grid grid-cols-3 gap-12">
            <p class="countdown font-[Victory-Striker] text-9xl transition-all">
              08:23:34
            </p>
            <div
              class="flex flex-col justify-between items-stretch col-span-2 px-4"
            >
              <div>
                <p class="en-date font-light">10 April, 2026</p>
                <p class="hijri-date font-light">22 Shawwal, 1447</p>
              </div>
              <p class="text-4xl font-light">
                Prayer Times in <span class="location-name font-bold"
                  >Addis Ababa</span
                >
              </p>
            </div>

            <!-- <div class="absolute inset-0 rounded-4xl backdrop-blur-[1px]"></div> -->
          </div>
        </div>
        <div class="time-box-container flex justify-center gap-8 w-full">
          <template id="time-box">
            <div
              class="time-box flex flex-col justify-center items-center gap-4 w-40 h-34 glass-item rounded-4xl"
            >
              <h2 class="time-box-txt prayer-name text-[20px] font-light">
                Dhuhr
              </h2>

              <div class="flex gap-2 justify-between items-start">
                <p class="prayer-time text-4xl font-[Victory-Striker]">12:26</p>
                <span
                  class="prayer-span text-[20px] align-top font-[Montserrat] font-light"
                >
                  AM
                </span>
              </div>
            </div>
          </template>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<script>
  import "../scripts/app.js";
</script>
