---

---

<header class="absolute inset-0">
  <nav class="px-10 py-4 glass-bg">
    <ul class="flex justify-between items-center">
      <li class="">
        <img src="/logo.svg" alt="" class="h-10" />
      </li>
      <li>
        <a
          href=""
          class="glass-item px-6 py-4 rounded-3xl text-white font-semibold"
          >Contact Developer</a
        >
      </li>
    </ul>
  </nav>
</header>
